<a href="https://colab.research.google.com/github/Kwangbin/statistic/blob/main/%EC%98%AC%EB%A6%BC%ED%94%BD_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 필요한 라이브러리를 불러옵니다.

import pandas as pd
import numpy as np
import time

In [2]:
# 올림픽 메달 주소

url = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=1"

In [3]:
# 일단 1페이지만 불러와 보자
# 판다스의 테이블만 불러 들이는 기능 사용

table=pd.read_html(url)

In [4]:
table

[    순위     국가  금메달  은메달  동메달  합계
 0    1     미국   11    7    2  20
 1    2    그리스   10   17   19  46
 2    3     독일    6    5    2  13
 3    4    프랑스    5    4    2  11
 4    5     영국    2    3    2   7
 5    6    헝가리    2    1    3   6
 6    7  오스트리아    2    1    2   5
 7    8     호주    2    0    0   2
 8    9    덴마크    1    2    3   6
 9   10    스위스    1    2    0   3
 10  11  다국적연합    1    1    1   3]

In [5]:
# 사이트를 확인해 보니
# 하계 올림픽 27회 까지는 반복문으로 크롤링이 가능 한데
# 그 이후는 페이지가 엉망이다  
# ㅠㅠㅠ
# 일단 27회 시드니까지만 불러온다
# 그 이후는 수동으로 해야 할듯

In [8]:
# 주소 테스트
for i in range(1 , 28):
    url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode="+str(i)
    print(url_1)

https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=1
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=2
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=3
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=4
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=5
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=6
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=7
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=8
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=9
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=10
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=11
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=12
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=13
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=14
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=15
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=16
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=17
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=18
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=19
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=20
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=21
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=22
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=23
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=24
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=25
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=26
https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=27

In [11]:
# 주소 테스트
for i in range(1 , 6):
    url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode="+str(i)
    #변수를 생성해 대회별로 메달수 가져오기
    globals()['var_'+str(i)]  = pd.read_html(url_1)
    #혹시 서버에서 맊을까봐 sleep 설정
    time.sleep(3)

In [14]:
# 세계 대전으로 6, 12,13회 중단
# 주소 테스트
for i in range(14 , 28):
    url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode="+str(i)
    #변수를 생성해 대회별로 메달수 가져오기
    globals()['var_'+str(i)]  = pd.read_html(url_1)
    #혹시 서버에서 맊을까봐 sleep 설정
    time.sleep(3)

In [ ]:
# 세계 대전으로 6, 12,13회 중단
# 주소 테스트
for i in range(7 , 12):
    url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode="+str(i)
    #변수를 생성해 대회별로 메달수 가져오기
    globals()['var_'+str(i)]  = pd.read_html(url_1)
    #혹시 서버에서 맊을까봐 sleep 설정
    time.sleep(3)

In [15]:
#28회 부터는 수동으로 지정 해야 함
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=116"
var_28=pd.read_html(url_1)

In [16]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=125"
var_29=pd.read_html(url_1)

In [17]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=136"
var_30=pd.read_html(url_1)

In [18]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=145"
var_31=pd.read_html(url_1)

In [19]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=159"
var_32=pd.read_html(url_1)

In [20]:
var_32

[    순위         국가  금메달  은메달  동메달   합계
 0    1         미국   39   41   33  113
 1    2         중국   38   32   18   88
 2    3         일본   27   14   17   58
 3    4         영국   22   21   22   65
 4    5  러시아올림픽위원회   20   28   23   71
 ..  ..        ...  ...  ...  ...  ...
 88  86       그레나다    0    0    1    1
 89  86     코트디부아르    0    0    1    1
 90  86       쿠웨이트    0    0    1    1
 91  86        몰도바    0    0    1    1
 92  86        시리아    0    0    1    1

 [93 rows x 6 columns]]

In [27]:
# 동계 올림픽
j=1
for i in range(28 , 46):
    url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode="+str(i)
    #변수를 생성해 대회별로 메달수 가져오기
    globals()['win_'+str(j)]  = pd.read_html(url_1)
    j=j+1
    #혹시 서버에서 맊을까봐 sleep 설정
    time.sleep(3)

In [28]:
win_18

[    순위     국가  금메달  은메달  동메달  합계
 0    1     독일   12    9    8  29
 1    2   노르웨이   10   10    5  25
 2    3    러시아    9    6    3  18
 3    4    캐나다    6    5    4  15
 4    5     미국    6    3    4  13
 5    6   네덜란드    5    4    2  11
 6    7     일본    5    1    4  10
 7    8  오스트리아    3    5    9  17
 8    9   대한민국    3    1    2   6
 9   10   이탈리아    2    6    2  10
 10  11    핀란드    2    4    6  12
 11  12    스위스    2    2    3   7
 12  13    프랑스    2    1    5   8
 13  14     체코    1    1    1   3
 14  15   불가리아    1    0    0   1
 15  16     중국    0    6    2   8
 16  17    스웨덴    0    2    1   3
 17  18    덴마크    0    1    0   1
 18  18  우크라이나    0    1    0   1
 19  20   벨라루스    0    0    2   2
 20  20  카자흐스탄    0    0    2   2
 21  22     호주    0    0    1   1
 22  22    벨기에    0    0    1   1
 23  22     영국    0    0    1   1]

In [29]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=107"
win_19=pd.read_html(url_1)

In [30]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=120"
win_20=pd.read_html(url_1)

In [31]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=129"
win_21=pd.read_html(url_1)

In [32]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=140"
win_22=pd.read_html(url_1)

In [33]:
url_1 = "https://gsic.sports.or.kr/com/cop/game/game_info.do?partCode=1&gameCode=153"
win_23=pd.read_html(url_1)

In [35]:
win_19

[    순위     국가  금메달  은메달  동메달  합계
 0    1   노르웨이   13    5    7  25
 1    2     독일   12   16    8  36
 2    3     미국   10   13   11  34
 3    4    캐나다    7    3    7  17
 4    5    러시아    5    4    4  13
 5    6    프랑스    4    5    2  11
 6    7   이탈리아    4    4    5  13
 7    8    핀란드    4    2    1   7
 8    9   네덜란드    3    5    0   8
 9   10  오스트리아    3    4   10  17
 10  11    스위스    3    2    6  11
 11  12  크로아티아    3    1    0   4
 12  13     중국    2    2    4   8
 13  14   대한민국    2    2    0   4
 14  15     호주    2    0    0   2
 15  16     체코    1    2    0   3
 16  17  에스토니아    1    1    1   3
 17  18     영국    1    0    1   2
 18  19    스웨덴    0    2    5   7
 19  20   불가리아    0    1    2   3
 20  21     일본    0    1    1   2
 21  21    폴란드    0    1    1   2
 22  23   벨라루스    0    0    1   1
 23  23  슬로베니아    0    0    1   1]

In [36]:
win_20

[    순위         국가  금메달  은메달  동메달  합계
 0    1         독일   11   12    6  29
 1    2         미국    9    9    7  25
 2    3      오스트리아    9    7    7  23
 3    4        러시아    8    6    8  22
 4    5        캐나다    7   10    7  24
 5    6        스웨덴    7    2    5  14
 6    7       대한민국    6    3    2  11
 7    8        스위스    5    4    5  14
 8    9       이탈리아    5    0    6  11
 9   10        프랑스    3    2    4   9
 10  10       네덜란드    3    2    4   9
 11  12      에스토니아    3    0    0   3
 12  13       노르웨이    2    8    9  19
 13  14         중국    2    4    5  11
 14  15         체코    1    2    1   4
 15  16      크로아티아    1    2    0   3
 16  17         호주    1    0    1   2
 17  18         일본    1    0    0   1
 18  19        핀란드    0    6    3   9
 19  20        폴란드    0    1    1   2
 20  21       벨라루스    0    1    0   1
 21  21       불가리아    0    1    0   1
 22  21  슬로바키아 공화국    0    1    0   1
 23  21         영국    0    1    0   1
 24  25      우크라이나    0    0    2   2
 25  26       라트비아    0    0    1   1]

In [37]:
win_21

[    순위         국가  금메달  은메달  동메달  합계
 0    1        캐나다   14    7    5  26
 1    2         독일   10   13    7  30
 2    3         미국    9   15   13  37
 3    4       노르웨이    9    8    6  23
 4    5       대한민국    6    6    2  14
 5    6        스위스    6    0    3   9
 6    7         중국    5    2    4  11
 7    7        스웨덴    5    2    4  11
 8    9      오스트리아    4    6    6  16
 9   10       네덜란드    4    1    3   8
 10  11        러시아    3    5    7  15
 11  12        프랑스    2    3    6  11
 12  13         호주    2    1    0   3
 13  14         체코    2    0    4   6
 14  15        폴란드    1    3    2   6
 15  16       이탈리아    1    1    3   5
 16  17       벨라루스    1    1    1   3
 17  17  슬로바키아 공화국    1    1    1   3
 18  19         영국    1    0    0   1
 19  20         일본    0    3    2   5
 20  21      크로아티아    0    2    1   3
 21  21      슬로베니아    0    2    1   3
 22  23       라트비아    0    2    0   2
 23  24        핀란드    0    1    4   5
 24  25      에스토니아    0    1    0   1
 25  25      카자흐스탄    0    1    0   1]

In [38]:
win_22

[    순위         국가  금메달  은메달  동메달  합계
 0    1        러시아   11    9    9  29
 1    2       노르웨이   11    5   10  26
 2    3        캐나다   10   10    4  24
 3    4         미국    9    7   12  28
 4    5       네덜란드    8    7    9  24
 5    6         독일    8    6    5  19
 6    7        스위스    6    3    2  11
 7    8       벨라루스    5    0    1   6
 8    9      오스트리아    4    8    5  17
 9   10        프랑스    4    4    7  15
 10  11        폴란드    4    1    1   6
 11  12         중국    3    4    2   9
 12  13       대한민국    3    3    2   8
 13  14        스웨덴    2    7    6  15
 14  15         체코    2    4    2   8
 15  16      슬로베니아    2    2    4   8
 16  17         일본    1    4    3   8
 17  18        핀란드    1    3    1   5
 18  19         영국    1    1    2   4
 19  20      우크라이나    1    0    1   2
 20  21  슬로바키아 공화국    1    0    0   1
 21  22       이탈리아    0    2    6   8
 22  23       라트비아    0    2    2   4
 23  24         호주    0    2    1   3
 24  25      크로아티아    0    1    0   1
 25  26      카자흐스탄    0    0    1   1]

In [39]:
win_23

[    순위         국가  금메달  은메달  동메달  합계
 0    1       노르웨이   14   14   11  39
 1    2         독일   14   10    7  31
 2    3        캐나다   11    8   10  29
 3    4         미국    9    8    6  23
 4    5       네덜란드    8    6    6  20
 5    6        스웨덴    7    6    1  14
 6    7       대한민국    5    8    4  17
 7    8        스위스    5    6    4  15
 8    9        프랑스    5    4    6  15
 9   10      오스트리아    5    3    6  14
 10  11         일본    4    5    4  13
 11  12       이탈리아    3    2    5  10
 12  13        러시아    2    6    9  17
 13  14         체코    2    2    3   7
 14  15       벨라루스    2    1    0   3
 15  16         중국    1    6    2   9
 16  17  슬로바키아 공화국    1    2    0   3
 17  18        핀란드    1    1    1   3
 18  19         영국    1    0    4   5
 19  20        폴란드    1    0    1   2
 20  21        헝가리    1    0    0   1
 21  21      우크라이나    1    0    0   1
 22  23         호주    0    2    1   3
 23  24      슬로베니아    0    1    1   2
 24  25        벨기에    0    1    0   1
 25  26       뉴질랜드    0    0    2   2
 26  26        스페인    0    0    2   2
 27  28      카자흐스탄    0    0    1   1
 28  28       라트비아    0    0    1   1
 29  28     리히텐슈타인    0    0    1   1]